services:
  server:
    build:
      context: .
    ports:
      - '8080:8080' 
      - '8000:8000' 
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/staff_db
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - SPRING_JPA_HIBERNATE_DDL_AUTO=validate
    depends_on:
      postgres:
        condition: service_healthy 

  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=staff_db
    ports:
      - '5432:5432'
    volumes:
      - staff_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    ports:
      - '8090:8080'

volumes:
  staff_postgres_data:
